.slider-container {
    margin-top: 50px;
}

.swiper-container {
    margin-top: 0px;
}

.env-product-slide-container {
    height: 180px;
    width: 100vw;

    margin-top: 10px;
    /* margin-left: 10vw; */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 30px;
    box-shadow: 0px 0px 17px -10px rgb(0 0 0 / 80%);
}

.swiper-wrapper {
    height: 250px !important;
}

.env-product-slide-icon {
    width: 60px;
    height: 60px;
    display: flex;
    position: absolute;
    left: 6%;
}

.product-slide-icon .env-material-icons {
    font-size: 60px;
}
.icon-label-recyclable {
    position: relative;
    top: 5px;
}

.env-product-slide-wrapper {
    width: 90%;
    height: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    background-image: url("../../assets/images/bitmap.png");
    background-position: 265px 30px;
}
.env-icon-label {
    font-size: 5vw;
    margin-top: 4vw;
}

/* .product-slide-name {
    font-size: 2vw;
    margin-top: 4vw;
} */

.product-slide-recyclable {
    bottom: 80px;
    position: relative;
    margin-bottom: 100px;
}

.product-slide-lowername {
    font-size: 12px;
    color: grey;
    margin-left: 5px;
    margin-top: 5px;
}

.product-slide-part {
    width: 40%;
    height: 100%;
}

.product-slide-place {
    display: flex;
    flex-direction: column;
}

.product-slide-middle {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
    width: 20%;
}

.product-slide-place-name {
    margin-top: 15px;
    color: black;
    font-size: 13px;
}

.product-slide-brand-name {
    font-size: 10px;
    margin-top: 30px;
    color: grey;
}
.product-ecoscore {
    font-size: 2vw;
    font-weight: 900;
    color: black;

    text-align: center;
}
.env-product-ecoscore {
    position: relative;
    font-size: 20px;
    font-weight: 900;
    color: black;
    bottom: 0px;
}
.swiper-slide {
    margin-left: 0px;
}
.test {
    background-color: red;
    width: 100vw;
}

.product-bottom-container .swiper-slide {
    margin-left: 0px;
}

.text-left {
    text-align: left;
}
.text-right {
    text-align: right;
}

.product-place-city,
.product-place-country {
    white-space: nowrap;
    width: 90%;
    overflow: hidden;
    text-overflow: ellipsis;
}

.env-history-label-container {
    display: flex;
    flex-direction: column;
}

.env-history-label {
    color: grey;
    font-size: smaller;
    text-align: center;
    position: relative;
    bottom: 10vw;
}
.packaging-label-color {
    position: relative;
    font-size: 50px;
    font-weight: 900;
    bottom: 7vw;
    margin: auto;
}

.product-bitmap-image-packaging {
    width: 50px;
    position: absolute;
    transform: rotate(305deg);
}

.title-part-environnement {
    margin-top: 50px;
    font-size: 20px;
    font-weight: 900;
}

.product-transport-impact-container {
    width: 80vw;
    border-radius: 30px;
    /* border: 2px solid grey; */
    margin-bottom: 30px;
    margin-top: 5vw;
    -webkit-box-shadow: 0px 0px 20px -10px rgba(0, 0, 0, 0.8);
    -moz-box-shadow: 0px 0px 20px -10px rgba(0, 0, 0, 0.8);
    box-shadow: 0px 0px 20px -10px rgba(0, 0, 0, 0.8);
}
.product-transport-impact-header {
    position: relative;
    width: 100%;
    height: 30%;
    display: flex;
    padding-top: 20px;
    padding-bottom: 20px;
}
.product-transport-impact-logo {
    margin-left: 10vw;
    margin-top: 2vw;
}

.product-transport-impact-color-label {
    font-size: 50px;
    font-weight: 900;
    border-radius: 70px;
    right: 5%;
    /* bottom: 3vw; */
    position: relative;
}

.product-alternative-fleche {
    position: absolute;
    right: 20px;
}

.icon-label-transport-impact {
    font-size: 15vw;
}
.product-transport-impact-title {
    width: 70vw;
    margin-top: 5vw;
    margin-left: 5vw;
}

.product-transport-impact-title-text {
    font-size: 3vw;
    font-weight: 900;
}
.product-transport-impact-title-label {
    color: grey;
    font-size: 2.5vw;
}

.product-transport-impact-content {
    width: 100%;
    /* height: 40%; */
    display: flex;
}

.product-transport-impact-content-text {
    margin-left: 8vw;
    margin-top: auto;
    margin-bottom: auto;
    color: grey;
    font-size: 4vw;
    font-weight: 900;
}
.product-transport-impact-content-progress {
    margin-top: auto;
    margin-bottom: auto;
    width: 40vw;
    margin-left: 2vw;
    margin-top: 0px;
    text-align: center;
    position: relative;
}

.product-transport-impact-content-details {
    display: flex;
    height: 30%;
    flex-direction: column;
    margin-left: 4vw;
}
.product-transport-impact-content-details-text {
    font-size: 3vw;
    /* font-weight: 900; */
    margin-left: 5%;
    color: grey;
    margin-top: 10vw;
    margin-bottom: auto;
}

.product-transport-impact-content-details-score {
    font-size: 3vw;
    /* font-weight: 900; */
    color: grey;
    margin-right: 5%;
    margin-left: 5%;
    margin-top: 10px;
    margin-bottom: 20px;
}

.product-alternative-title {
    font-size: 3vw;
    width: 50vw;
    margin-top: 5px;
    text-align: left;
    margin-bottom: 5px;
}

.product-alternative-brand {
    font-size: 10pt;
    margin-bottom: 12px;
    color: grey;
}

.product-alternative-image {
    height: 100px;
    width: auto;
    margin-left: 15px;
    border-radius: 20px;
}

.product-alternative-text {
    display: flex;
    margin-left: 20px;
    flex-direction: column;
}

.product-alternative-label-text {
    display: flex;
    font-size: small;
    text-transform: capitalize;
    margin-left: 5px;
    font-weight: bold;
}

.product-alternative-label {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.product-alternative-label-level {
    font-size: small;
    margin-left: 15px;
    text-align: left;
}

.product-alternative-label-position {
    margin-left: 0px;
}

.product-packaging-impact-container {
    width: 80vw;
    height: 70vw;
    border-radius: 30px;
    border: 2px solid grey;
    margin-top: 5vw;
    margin-bottom: 5vw;
    display: flex;
    flex-direction: column;
}

.product-packaging-impact-logo {
    margin: auto;
    background-color: #78be95;
    margin-left: 5vw;
}

.product-packaging-impact-color-label {
    font-size: 15vw;
    font-weight: 900;
    border-radius: 70px;
    left: 0;
    bottom: 3vw;
    position: relative;
    margin: auto;
}

.product-packaging-impact-title {
    width: 40vw;
    margin-top: auto;
    margin-bottom: auto;
    margin-left: 5vw;
}

.product-packaging-impact-title-text {
    font-size: 3.5vw;
    font-weight: 900;
}
.product-packaging-impact-title-label {
    color: grey;
    font-size: 3vw;
}
.product-packaging-impact-header {
    margin-top: 2vw;
    position: relative;
    width: 100%;
    height: 70%;
    display: flex;
}
.product-transport-impact-content-details-item {
    margin-left: 5vw;
    width: 20%;
}

.animation-appear {
    animation: appearBottom 0.5s ease-in-out;
    overflow: hidden;
}

.animation-disappear {
    animation: disappearBottom 0.5s ease-in-out;
    overflow: hidden;
    height: 0px;
}

@keyframes appearBottom {
    from {
        height: 0px;
    }
    to {
        height: 50vw;
    }
}
@keyframes disappearBottom {
    from {
        height: 50vw;
    }
    to {
        height: 0px;
    }
}

.product-co2-impact-container {
    width: 80vw;
    height: 30vw;
    border-radius: 30px;
    /* border: 2px solid grey; */
    margin-bottom: 5vw;
    margin-top: 10px;
    -webkit-box-shadow: 0px 0px 20px -10px rgba(0, 0, 0, 0.8);
    -moz-box-shadow: 0px 0px 20px -10px rgba(0, 0, 0, 0.8);
    box-shadow: 0px 0px 20px -10px rgba(0, 0, 0, 0.8);
}
.product-co2-impact-header {
    position: relative;
    width: 100%;
    height: 30%;
    display: flex;
}
.product-co2-impact-logo {
    margin-left: 8%;
    margin-top: 3vw;
}

.product-co2-impact-color-label {
    font-size: 15vw;
    font-weight: 900;
    border-radius: 70px;
    right: 15%;
    bottom: 3vw;
    position: relative;
}

.icon-label-co2-impact {
    font-size: 10vw;
}
.product-co2-impact-title {
    width: 70vw;
    margin-top: 5vw;
    margin-left: 5vw;
}

.product-co2-impact-title-text {
    font-size: 3vw;
    font-weight: 900;
}
.product-co2-impact-title-label {
    color: grey;
    font-size: 2.5vw;
}

.product-co2-impact-content {
    width: 100%;
    height: 70%;
    display: flex;
}

.product-co2-impact-content-text {
    margin-left: 8vw;
    margin-top: auto;
    margin-bottom: auto;
    color: grey;
    font-size: 3vw;
    font-weight: 900;
}
.product-co2-impact-content-progress {
    margin-top: auto;
    margin-bottom: auto;
    width: 40vw;
    margin-left: 25vw;
    position: relative;
    /* margin-top: 2vw; */
}

.product-co2-impact-content-details {
    display: flex;
    height: 30%;
}
.product-co2-impact-content-details-text {
    font-size: 3vw;
    font-weight: 900;
    margin-left: 5%;
    margin-top: auto;
    margin-bottom: auto;
}

.product-co2-impact-content-details-score {
    font-size: 3vw;
    font-weight: 900;
    margin-right: 5%;
    margin-left: 5%;
    margin-top: auto;
    margin-bottom: auto;
}

.icon-label-arrow {
    font-size: 10vw;
    margin-top: -40px;
}

.arrow-container {
    text-align: center;
}
.impact-percentage-progressBar {
    position: absolute;
    top: 45%; /* poussé de la moitié de hauteur du référent */
    left: 50%; /* poussé de la moitié de hauteur du référent */
    transform: translateY(-50%); /* tiré de la moitié de sa propre hauteur */
    transform: translateX(-50%); /* tiré de la moitié de sa propre hauteur */
    font-size: 3vw;
}
.product-CO2-total {
    font-size: 3vw;
    color: grey;
    margin-bottom: 5vw;
}
.product-packaging-impact-content-details-text {
    font-size: 3vw;
    /* font-weight: 900; */
    margin-left: 5%;
    color: grey;
    margin-top: 10vw;
    margin-bottom: auto;
}
.carbon-total-number {
    font-weight: bold;
    color: black;
}

.environnement-map-container {
    width: 80vw;
    /* height: 60vw; */
    border-radius: 30px;
    overflow: hidden;
    /* border: 2px solid grey; */
    margin-bottom: 5vw;
    margin-top: 10px;
    box-shadow: 0px 0px 20px -10px rgb(0 0 0 / 80%);
    animation: fadeInAppear 0.5s ease;
}

.environnement-map {
    width: 80vw !important;
    margin-top: 10px;
    height: 50vw !important;
    margin-bottom: -10px;
}

.map-country-content div {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    /* text-align: left; */
    width: 80vw;
    height: 100%;
}
.map-country-content {
    height: 100px;
    align-items: center;
    justify-content: center;
}

.map-country-content span {
    margin: 5px;
    text-align: center;
    text-transform: capitalize;
}

.environnement-map-container .product-co2-impact-header {
    height: 18%;
    padding-top: 10px;
}

.environnement-map-container .product-co2-impact-title-label {
    width: 50vw;
    height: 15px;
    margin-top: 2px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.empreinte-carbone-container {
    width: 80vw;
    /* height: 100vw; */
    position: relative;
    min-height: 55vw;
    overflow: hidden;
    border-radius: 30px;
    /* border: 2px solid grey; */
    margin-bottom: 5vw;
    margin-top: 60px;
    -webkit-box-shadow: 0px 0px 20px -10px rgba(0, 0, 0, 0.8);
    -moz-box-shadow: 0px 0px 20px -10px rgba(0, 0, 0, 0.8);
    box-shadow: 0px 0px 20px -10px rgba(0, 0, 0, 0.8);
}

.empreinte-carbone-header {
    display: flex;
    width: 100%;
    padding-left: 7vw;
    padding-top: 5vw;
    position: relative;
}

.empreinte-carbone-header .header-main {
    font-size: 3vw;
    font-weight: 500;
}

.empreinte-carbone-header .header-small {
    color: grey;
    margin-top: 3px;
    font-size: 2.5vw;
}

@media (min-width: 750px) {
    .empreinte-carbone-header .header-main {
        font-size: 22px;
        font-weight: 900;
    }

    .empreinte-carbone-header .header-small {
        color: grey;
        font-size: 18px;
    }
    .empreinte-carbone-number span {
        font-size: 25px !important;
        font-weight: bolder;
    }
}

.empreinte-carbone-number {
    position: absolute;
    right: 10vw;

    display: flex;
    align-items: center;
}

.empreinte-carbone-number span {
    font-size: 4vw;
    font-weight: bolder;
}

.empreinte-carbone-number .circle {
    width: 10px;
    margin-left: 10px;
    height: 10px;
    background-color: red;
    border-radius: 20px;
}

.empreinte-carbone-equivalent {
    width: 100%;
    display: flex;
    margin-top: 8vw;
    /* margin-bottom: 8vw; */
}

.empreinte-carbone-equivalent .icon-container {
    width: 45%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.empreinte-carbone-equivalent .equivalent-container {
    width: 50%;
    text-align: left;
    display: flex;
    flex-direction: column;
}

.equivalent-container .text-small {
    color: grey;
    margin-top: 3px;
    font-size: 2.5vw;
}

.equivalent-container .text-big {
    margin-top: 5px;
    font-size: 3vw;
    font-weight: 100;
    line-height: 5vw;
}

.empreinte-carbone-repartition {
    /* width: 100%; */
    padding: 9vw;
    /* margin-bottom: 10px; */
    display: flex;
    flex-direction: column;
    margin-left: 0vw;
}

.empreinte-carbone-repartition .empreinte-single {
    display: flex;
    width: 45vw;
    align-items: center;
    justify-content: space-between;
}

.empreinte-carbone-repartition .name {
    font-weight: 100;
    font-size: 3vw;
}
.empreinte-carbone-repartition .pourcent {
    font-weight: 100;
    font-size: 3vw;
}

.empreinte-single {
    margin-bottom: 2.8vw;
}

.empreinte-single .name {
    width: 26vw;
    text-align: left;
}

.empreinte-single .material-icons {
    font-size: 6vw !important;
    width: 8vw;
}

.empreinte-carbone-container .arrow {
    width: 100%;
    align-items: center;
    display: flex;
    justify-content: space-around;
    font-size: 20px !important;
    position: absolute;
    /* margin-left: 5vw; */
    /* margin-right: 5vw; */
    font-size: 15px !important;

    bottom: 3vw;
}

.icon-container img {
    width: 25vw;
    transform: rotateY(180deg);
}

.cmauve {
    background-color: #380219 !important;
}
.cred {
    background-color: rgb(151, 12, 12) !important;
}
.corange {
    background-color: rgb(199, 81, 3) !important;
}
.cgreen {
    background-color: rgb(55, 209, 9) !important;
}
.cdarkgreen {
    background-color: rgb(4, 98, 0) !important;
}

.no-margin-container {
    margin-top: 10px !important;
}

.carousel {
    width: 100%;
    /* margin-left: 10vw; */
    /* background-color: red; */
    height: 200px;
    display: flex;
    padding: 5px;
    align-items: center;
}

.carousel-root {
    width: 100vw;
}

.slide {
    display: flex;
    /* align-items: center; */
    /* justify-content: center; */
    /* width: 80vw !important; */
}
.product-alternative {
    /* background-color: red; */
    top: 10px;
    display: flex;
    flex-direction: row;
    position: relative;
    /* left: 10vw; */
    border-radius: 30px;
    box-shadow: 0px 0px 17px -10px rgb(0 0 0 / 80%);
    height: 133px;
    width: 100%;
    align-items: center;
}

.carousel .slide img {
    width: 20vw !important;
    object-fit: cover;
    vertical-align: top;
    border: 0;
}
