.leaflet-tile-container img {
	filter: invert(100%) contrast(10%) brightness(200%) !important;
}

.leaflet-container {
	width: 100vw !important;
	height: 400px !important;
	background-color: white;
}

.leaflet-control-attribution {
	display: none;
}

.slider-container {
	margin-top: 50px;
}

.swiper-container {
	margin-top: 60px;
}

.product-slide-container {
	position: relative;
	height: 225px;
	width: 100%;
	margin-top: 10px;
	/* margin-left: 10vw; */
	display: flex;
	flex-direction: column;
	align-items: center;
	/* justify-content: center; */
	border-radius: 30px;
	-webkit-box-shadow: 0px 0px 17px -10px rgba(0, 0, 0, 0.8);
	-moz-box-shadow: 0px 0px 17px -10px rgba(0, 0, 0, 0.8);
	box-shadow: 0px 0px 17px -10px rgba(0, 0, 0, 0.8);
}

.swiper-wrapper {
	height: 250px !important;
}

.product-slide-icon {
	height: 60px;
	display: flex;
	align-items: center;
	justify-content: center;
	position: absolute;
	left: 40px;
	top: 20px;
}

.product-slide-icon .material-icons {
	font-size: 60px;
	margin-right: 10px;
}

.product-slide-wrapper {
	/* background-color: blue; */
	width: 90%;
	/* margin-left: 5%; */
	height: 100px;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-between;
}

.product-slide-name {
	font-size: 20px;
	display: flex;
	flex-direction: column;
}

.product-slide-name-transport {
	font-size: 12px;
	white-space: nowrap;
	margin-top: 5px;
}

.product-slide-lowername2 {
	font-size: 12px;
	color: grey;
	margin-left: 5px;
	margin-top: 5px;
}

.product-slide-part {
	/* background-color: red; */
	width: 40%;
	height: 100%;
}

.product-slide-place {
	display: flex;
	flex-direction: column;
}

.product-slide-middle {
	display: flex;
	flex-direction: column;
	align-items: center;
	height: 100%;
	width: 20%;
}

.product-slide-place-name {
	margin-top: 15px;
	color: black;
	font-size: 13px;
}

.product-slide-brand-name {
	font-size: 10px;
	margin-top: 30px;
	color: grey;
}

.text-left {
	text-align: left;
}
.text-right {
	text-align: right;
}

.product-place-city,
.product-place-country {
	white-space: nowrap;
	width: 90%;
	overflow: hidden;
	text-overflow: ellipsis;
}

.product-slide-origin-wrapper {
	width: 100%;
	height: 120px;
	margin-top: 100px;
	/* background-color: red; */
	display: flex;
}

.product-transport-ui {
	margin-left: 60px;
}

.transport-ui-circle {
	border: 2px solid #78be95;
	border-radius: 20px;
	height: 15px;
	width: 15px;
}

.transport-ui-tiret {
	width: 1px;
	position: relative;
	right: -8px;
	height: 55px;
	background-repeat: repeat-x, repeat-x, repeat-y, repeat-y;
	background-size: 15px 4px, 15px 4px, 4px 15px, 4px 15px;
	background-position: 0px 0px, 200px 100px, 0px 100px, 200px 0px;
	border-left: 2px dashed #78be95;
	animation: border-dance 4s infinite linear;
}

.transport-ui-circle.circle-bis {
	background-color: #78be95;
}

.product-slide-bigname {
	font-size: 16px;
	color: #646464;
	font-size: 900;
}
.product-slide-lowername2 {
	font-size: 12px;
	color: #646464;
	margin-left: 10px;
}

.product-slide-bigname span {
	margin-left: 10px;
}

.bigname-lower {
	margin-top: 30px;
}

.product-slide-arrow {
	font-size: 30px;
	position: absolute;
	right: 10px;
	top: calc(50% - 15px);
}

.product-slide-name-product {
	white-space: nowrap;
	width: 40vw;
	overflow: hidden;
	text-overflow: ellipsis;
}

.product-slide-consumption {
	position: absolute;
	right: 20px;
	top: 20px;
}
.product-slide-pastille {
	width: 15px;
	height: 15px;
	border-radius: 15px;
	position: absolute;
	right: 90px;
	top: 10px;
}

.past-red {
	background-color: red;
}
.past-orange {
	background-color: orange;
}
.past-green {
	background-color: greenyellow;
}

@media (max-width: 500px) {
	.product-slide-icon {
		left: 10px;
	}
	.product-transport-ui {
		margin-left: 30px;
	}
	.product-slide-bigname {
		font-size: 12px;
	}
	.product-slide-lowername2 {
		font-size: 10px;
	}
	.product-slide-name-product {
		font-size: 16px;
		width: 30vw;
	}
	.product-slide-name-transport {
		font-size: 11px;
	}
	.product-slide-consumption {
		font-size: 10px;
	}
	.product-slide-pastille {
		width: 8px;
		height: 8px;
		border-radius: 15px;
		position: absolute;
		right: 60px;
		top: 7px;
	}
}
