.avis-container {
    width: 80vw;
    margin-left: 10vw;
    margin-top: 150px;
    background-color: white;
    z-index: 10000;
}

.avis-container textarea {
    width: 80vw;
    height: 40vw;
    padding: 10px;
}

.avis-container button {
    padding: 10px;
    width: 150px;
    color: black;
    background-color: #78be95;
    border: none;
    margin-bottom: 150px;
    margin-top: 10px;
    border-radius: 20px;
    margin-left: calc(40vw - 75px);
}
