.debug-container {
    margin-top: 150px;
    width: 80vw;
    margin-left: 10vw;
    text-align: left;
    color: #1b3044;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}

.debug-container h1 {
    font-size: 20px;
}

.debug-container h2 {
    font-size: 14px;
    margin-top: 50px;
}

.debug-retour {
    margin-top: 110px;
    font-size: 20px;
    color: #1b3044;
    margin-left: 50px;
    text-decoration: underline;
}
