/*sign up and sign in forms and buttons*/
.text-align {
    text-align: left;
}
.forms {
    display: flex;
    left: calc(50vw - 100px);
    /* position: fixed; */
    height: auto;
    top: 25%;
    flex-direction: column;
    font-family: "Comfortaa";
    color: #1b3044;
    font-size: 17px;
    font-weight: bold;
}

.input-forms {
    width: 180px;
    margin-top: 5px;
    margin-bottom: 5px;
    color: #1b3044;
    border-color: #1b3044;
    border-radius: 5px;
    font-family: "Comfortaa";
    font-size: 14px;
    padding: 10px;
}

.errors-signup {
    width: 216px;
    /* position: fixed; */
    left: calc(50vw - 100px);
    margin-left: 3px;
    top: 61%;
    font-family: "Comfortaa";
    font-size: 10px;
    color: red;
    line-height: 90%;
}

.errors-signin {
    width: 210px;
    /* position: fixed; */
    left: calc(50vw - 100px);
    margin-left: 3px;
    top: 43%;
    font-family: "Comfortaa";
    font-size: 10px;
    color: red;
    line-height: 90%;
}

.signup-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 200px;
}
.signin-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 200px;
}

.button-signup {
    width: 160px;
    height: 45px;
    border-radius: 10px;
    left: calc(50vw - 80px);
    /* position: fixed; */
    top: 76%;
    /*text*/
    align-items: center;
    display: flex;
    justify-content: center;
    vertical-align: middle;
    background-color: #78be95;
    font-family: "Comfortaa";
    color: white;
    margin-bottom: 100px;
    font-size: 14px;
    margin-top: 20px;
}

.button-signin {
    width: 160px;
    height: 45px;
    border-radius: 10px;
    /* position: relative; */
    left: calc(50vw - 80px);
    top: 50%;
    /*text*/
    align-items: center;
    display: flex;
    justify-content: center;
    vertical-align: middle;
    background-color: #78be95;
    font-family: "Comfortaa";
    color: white;
    font-size: 14px;
    margin-top: 20px;
}

/*buttons login page*/
.button-account {
    width: 165px;
    height: 45px;
    border-radius: 10px;
    position: fixed;
    left: calc(50vw - 80px);
    /*text*/
    align-items: center;
    display: flex;
    justify-content: center;
    vertical-align: middle;
    background-color: #78be95;
    top: 55%;
    font-family: "Comfortaa";
    color: white;
    font-size: 14px;
    text-decoration: none;
}

.button-connect {
    width: 165px;
    height: 45px;
    border-radius: 10px;
    position: fixed;
    left: calc(50vw - 80px);
    /*text*/
    align-items: center;
    display: flex;
    justify-content: center;
    vertical-align: middle;
    background-color: #78be95;
    top: 65%;
    font-family: "Comfortaa";
    color: white;
    font-size: 14px;
    text-decoration: none;
}

.button-no-account {
    width: 185px;
    height: 45px;
    border-radius: 10px;
    position: fixed;
    /* left: calc(50vw - 80px); */
    align-items: center;
    display: flex;
    justify-content: center;
    vertical-align: middle;
    /* background-color: #78be95; */
    font-family: "Comfortaa";
    color: black;
    font-size: 14px;
    bottom: 10px;
    right: 10%;
    text-decoration: none;
}

/*background*/
.login-logo {
    max-width: 250px;
    height: auto;
    position: fixed;
    left: calc(50vw - 125px);
    align-items: center;
    display: flex;
    justify-content: center;
    vertical-align: middle;
    top: 20%;
}

.login-lowympact {
    width: 200px;
    height: 50px;
    position: fixed;
    left: calc(50vw - 100px);
    align-items: center;
    display: flex;
    justify-content: center;
    vertical-align: middle;
    top: 40%;
    font-family: "Comfortaa";
    color: #1b3044;
    font-size: 33px;
    font-weight: bold;
    letter-spacing: 2px;
}

.logo-fruits {
    width: 50vw;
    position: fixed;
    bottom: -5vw;
    left: -12vw;
}

.configuration-form,
.forms label {
    -webkit-align-items: center;
    align-items: center;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: column;
    flex-direction: column;
    text-align: center;
}
