.email {
	display: flex;
	position: relative;
	height: auto;
	left: calc(50vw - 100px);
	top: 27%;
	justify-content: space-between;
	flex-direction: column;
	font-family: "Comfortaa";
	color: #1b3044;
	font-size: 17px;
	font-weight: bold;
	margin-bottom: 0px;
}
.user-email {
	position: relative;
	top: 30%;
	left: calc(50vw - 100px);
	font-family: "Comfortaa";
	color: #1b3044;
	font-size: 17px;
	font-style: italic;
	margin-bottom: 0px;
}

.configuration-container {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
}

.configuration-email-block {
	display: flex;
	align-items: center;
	width: 200px;
	height: auto;
	left: calc(50vw - 100px);
	/* top: 36%; */
	justify-content: space-between;
	flex-direction: column;
	font-family: "Comfortaa";
	color: #1b3044;
	font-size: 17px;
	font-weight: bold;
	margin-bottom: 30px;
	margin-top: 0px;
}

.forms label {
	align-items: center;
	display: flex;
	flex-direction: column;
	text-align: center;
}

.configuration-form {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.email {
	margin-top: 180px;
}

.user-email {
	margin-bottom: 0px;
}

.configuration-screen-title {
	color: rgb(41, 72, 102);
	text-decoration: underline;
	margin-top: 130px;
	margin-bottom: 5px;
	display: flex;
	justify-content: center;
}

/*button*/
.button-change-password {
	width: 204px;
	height: 45px;
	border-radius: 10px;
	/* position: relative; */
	left: calc(50vw - 80px);
	top: 75%;
	/*text*/
	align-items: center;
	display: flex;
	justify-content: center;
	vertical-align: middle;
	background-color: #78be95;
	font-family: "Comfortaa";
	color: white;
	font-size: 14px;
	text-decoration: none;
}

/*errors*/
.errors-change-password {
	width: 218px;
	position: relative;
	left: calc(50vw - 100px);
	top: 63%;
	font-family: "Comfortaa";
	font-size: 10px;
	color: red;
	line-height: 90%;
}
