.header-container {
  width: 100vw;
  height: 100px;
  position: fixed;
  top: -15px;
  vertical-align: middle;
  display: flex;
  align-items: center;
  font-family: "Comfortaa";
  color: #1b3044;
  font-size: 18px;
  font-weight: bold;
  letter-spacing: 2px;
  left: -5px;
}
.header-logo {
  max-width: 80px;
  height: auto;
  top: -10px;
}
