.App {
    text-align: center;
    height: calc(100vh - 200px);
    margin-top: 100px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

#interactive video {
    width: 500px;
    z-index: -1;
}

.App-logo {
    height: 40vmin;
    pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
    .App-logo {
        animation: App-logo-spin infinite 20s linear;
    }
}

.App-link {
    color: #61dafb;
}

@keyframes App-logo-spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

.logo {
    max-width: 70%;
    height: auto;
    margin: 0 auto;
}

.logo-text {
    max-width: 100%;
    height: auto;
    margin: 0 auto;
    font-family: "Comfortaa";
    color: #1b3044;
}

.uppercase {
    text-transform: uppercase;
}
.logo {
    max-width: 70%;
    height: auto;
    margin: 0 auto;
    width: 250px;
}

.logo-fruits img {
    width: 20vw;
    min-width: 150px;
}

.logo-text {
    max-width: 100%;
    height: auto;
    margin: 0 auto;
}

.back-button {
    position: absolute;
    top: 150px;
    left: 50px;
}

@media (max-height: 650px) {
    .back-button {
        position: absolute;
        top: 100px;
        left: 20px;
    }
}

@keyframes enterRight {
    from {
        margin-left: 2000px;
    }
    to {
        margin-left: 0px;
    }
}

/*** Loader **/

.loading {
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 30px;
}

@keyframes ldio-44krslet1tn {
    0% {
        top: 96px;
        left: 96px;
        width: 0;
        height: 0;
        opacity: 1;
    }
    100% {
        top: 18px;
        left: 18px;
        width: 156px;
        height: 156px;
        opacity: 0;
    }
}
.ldio-44krslet1tn div {
    position: absolute;
    border-width: 4px;
    border-style: solid;
    opacity: 1;
    border-radius: 50%;
    animation: ldio-44krslet1tn 1s cubic-bezier(0, 0.2, 0.8, 1) infinite;
}
.ldio-44krslet1tn div:nth-child(1) {
    border-color: #78be95;
    animation-delay: 0s;
}
.ldio-44krslet1tn div:nth-child(2) {
    border-color: #1b3044;
    animation-delay: -0.5s;
}
.loadingio-spinner-ripple-4o0kkyduuq4 {
    width: 200px;
    height: 200px;
    display: inline-block;
    overflow: hidden;
    background: #ffffff;
}
.ldio-44krslet1tn {
    width: 100%;
    height: 100%;
    position: relative;
    transform: translateZ(0) scale(1);
    backface-visibility: hidden;
    transform-origin: 0 0; /* see note above */
}
.ldio-44krslet1tn div {
    box-sizing: content-box;
}
