#interactive video {
    position: relative !important;
}

.interactive-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    /* height: 90vh; */
}
#interactive div {
    position: absolute;
    height: 30px;
    width: 30px;
    border-color: white;
    border: 1px solid white;
    z-index: 999999;
}
.interactive-wrapper .a {
    bottom: 40%;
    left: 25%;
    border-width: 0px 0px 1px 1px !important;
}
.interactive-wrapper .b {
    top: 40%;
    left: 25%;
    border-width: 1px 0px 0 1px !important;
}
.interactive-wrapper .c {
    bottom: 40%;
    right: 25%;
    border-width: 0px 1px 1px 0px !important;
}
.interactive-wrapper .d {
    top: 40%;
    right: 25%;
    border-width: 1px 1px 0px 0px !important;
}

.results {
    margin-left: 0px;
    padding: 0px;
    text-align: center;
}

.green {
    color: #78be95;
}

#interactive canvas {
    position: absolute;
    top: 0px;
    left: 0px;
}

#interactive {
    position: relative;
    z-index: 9;
    /* max-height: calc(100vh - 100px); */
    /* overflow: hidden; */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#interactive video {
    /* width: 100vw; */
    height: 100vh;
    z-index: -1;
}

.code-reader-container {
    background-color: black;
    color: white;
    height: 100vh;
    overflow: hidden;
    width: 100vw;
    position: absolute;
    z-index: 999;
    top: 0px;
    animation: appearFromBottom 0.5s ease;
}

@keyframes appearFromBottom {
    from {
        transform: translateY(500px) scale(0, 0);
        border-radius: 1000px;
    }
    to {
        transform: translateY(0px) scale(1, 1);
        border-top-left-radius: 0px;
        border-top-right-radius: 0px;
    }
}

.code-reader-container section:nth-child(1)::after {
    content: "";
    position: absolute;
    top: 25%;
    left: 25%;
    width: 50%;
    height: 50%;
    border: 2px dotted white;
    /* z-index: 999999; */
    border-radius: 20px;
}

.code-reader-container section:nth-child(1) {
    margin-top: 100px;
}
.code-switch {
    position: fixed;
    top: 75vh;
    left: 25vw;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50vw;
    z-index: 10;
}

.span-code-switch {
    margin: 40px;
    text-align: center;
    width: 100px;
}

.span-code-switch span {
    font-size: 10px;
    white-space: nowrap;
}
.span-code-switch span.material-icons {
    font-size: 30px !important;
}

.code-switch-camera {
    position: absolute;
    top: 50px;
    right: 50px;
    color: #1b3044;
    border-radius: 20px;
    z-index: 100;
    padding: 10px;
    border: none;
    background-color: rgba(255, 255, 255, 0.3);
}

.code-switch-camera .material-icons {
    font-size: 30px;
    color: #1b3044;
}

/* The Close Button */
.close {
    color: #1b3044;
    float: left;
    font-size: 30px;
    font-weight: bold;
    position: absolute;
    top: 50px;
    left: 40px;
    z-index: 102;
    padding: 10px;
    border-radius: 20px;
    background-color: rgba(255, 255, 255, 0.3);
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

.scan-error a {
    color: blue !important;
}

.scan-error {
    text-align: center;
}

.fileContainer {
    width: 50vw;
    /* color: black; */
    background: none !important;
}

.scan-error p {
    margin-top: 50px;
}

.import-label {
    color: white;
}

.fileContainer .chooseFileButton {
    padding: 6px 23px;
    background: #3f4257;
    border-radius: 30px;
    color: white;
    width: 50vw;
    height: 200px;
    font-weight: 300;
    font-size: 14px;
    margin: 10px 0;
    transition: all 0.2s ease-in;
    cursor: pointer;
    outline: none;
    border: none;
}

.fileContainer img {
    display: none;
}

.button-import .material-icons {
    font-size: 40px;
}

.error-message-import {
    position: absolute;
    bottom: 100px;
    width: 80vw;
    margin-left: 10vw;
    font-size: 11px;
}
.red {
    color: red;
}

.debug {
    font-size: 9px;
    color: white;
    position: absolute;
    left: 0px;
    bottom: 0px;
}

.hidden {
    display: none;
}

.no-permission {
    font-size: 15px;
}

.scan-result-container {
    position: absolute;
    bottom: 100px;
    width: 80vw;
    left: 10vw;
    z-index: 100;
    height: 100px;
    /* background-color: white; */
    border-radius: 20px;
    /* box-shadow: 0px 0px 10px 10px rgba(0, 0, 0, 0.1); */
}

.grey-square {
    background-color: rgb(197, 195, 195);
    width: 100%;
    height: 100%;
    border-radius: 5px;
}

.grey-text {
    width: 100%;
    height: 12px;
    background-color: rgb(197, 195, 195);
}

.grey-text.main-text {
    width: 50%;
}

.results .history-item {
    box-shadow: none;
}
.skeleton-8wwpnkj1sj9:empty {
    box-sizing: content-box;
    height: 90%;
    width: 90%;
    margin-left: 10px;
    background-color: #ffffff;
    border-radius: 0px 0px 0px 0px;
    background-image: linear-gradient(
            100deg,
            rgba(255, 255, 255, 0),
            rgba(255, 255, 255, 0.5) 50%,
            rgba(255, 255, 255, 0) 80%
        ),
        linear-gradient(#cccccc 60px, transparent 0), linear-gradient(#cccccc 20px, transparent 0),
        linear-gradient(#cccccc 20px, transparent 0);
    background-repeat: repeat-y;
    background-size: 50px 290px, 60px 290px, 200px 290px, 100px 290px;
    background-position: 0 0, 20px 10px, 111px 50px, 112px 10px;
    animation: shineForSkeleton-8wwpnkj1sj9 1.1s infinite;
}
@keyframes shineForSkeleton-8wwpnkj1sj9 {
    to {
        background-position: 100% 0, 20px 10px, 111px 50px, 112px 10px;
    }
}

.hidden {
    display: none !important;
}

.offline-container {
    position: absolute;
    top: 20px;
    width: 140px;
    text-align: center;
    /* height: 20px; */
    font-size: 12px;
    padding: 5px;
    z-index: 1000;
    border-radius: 10px;
    left: calc(50vw - 70px);
    background-color: rgba(255, 255, 255, 0.3);
}
